
@mixin section-ttl {
  .section__ttl {
    text-align: center;
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
      color: $main-color;
      margin-top: 19px;
      line-height: 1.19;
    }
    .mt23 {
      margin-top: 23px;
    }
    @include media(m) {
      h2 {
        font-size: 28px;
        margin-top: 15px;
      }
      p {
        font-size: 14px
      }
      .mt23 {
        margin-top: 20px;
      }
    }
    @include media(s) {
      h2 {
        font-size: 24px;
        margin-top: 10px;
      }
      .mt23 {
        margin-top: 10px;
      }  
    }  
  }
}


@mixin btnSet {
  display: inline-block;
  width: 155px;
  max-width: 100%;
  padding: 11px 35px;
  background: $btn-gradient;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 0.85rem;
  line-height: 1.25;
  text-align: center;
  border-radius: 10px;
}
@mixin hamburgerMenu {
  display: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
  background:#57a2c7;
  border-radius: 5px;
  cursor: pointer;
  span {
    display: inline-block;
    position: absolute;
    transition: all .4s;
    left: 13px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 25px;
    &:nth-of-type(1) {
      top: 15px; 
    }
    &:nth-of-type(2) {
      top: 23px;
    }
    &:nth-of-type(3) {
      top: 32px;
    }
  }
  &__active span:nth-of-type(1) {
    top: 18px;
    left: 12px;
    transform: translateY(6px) rotate(-45deg);
    width: 26px;
  }
  &__active span:nth-of-type(2) {
    opacity: 0; //消す
  }
  &__active span:nth-of-type(3){
    top: 30px;
    left: 12px;
    transform: translateY(-6px) rotate(45deg);
    width: 26px;
  }
  @include media(m) {
    display: block;
  }
  @include media(s) {
    width: 40px;
    height: 40px;
    span {
      left: 8px;
      width: 23px;
      &:nth-of-type(1) {
        top: 10px; 
      }
      &:nth-of-type(2) {
        top: 19px;
      }
      &:nth-of-type(3) {
        top: 28px;
      }
    }
    &__active span:nth-of-type(1) {
      top: 13px;
      left: 7px;
      width: 25px;
    }
    &__active span:nth-of-type(2) {
      opacity: 0; //消す
    }
    &__active span:nth-of-type(3){
      top: 25px;
      left: 7px;
      width: 25px;
    }
  }
}

