// ============================================
// 変数
// ============================================

$main-color: #3BA6C9;
$color-font: #333;
$btn-gradient: linear-gradient(to right, #FA41CC, #6020B0);
$bg-color: #EEFBFB;

// ============================================
// メディアクエリ
// ============================================

$breakpoints: (
  m: "only screen and (max-width: 1100px)", //タブレット
  s: "only screen and (max-width: 599px)",  //スマートフォン
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// ============================================
// ベース
// ============================================

body {
  color: $color-font;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
img {
  max-width: 100%;
}


// ============================================
// モジュール
// ============================================

.mv__bg {
  background-image: url(../images/bg-circle.png);
  background-repeat: no-repeat;
  background-position: top -161px right -85px;
  @include media(m) {
    background-position: top -230px right -160px;
  }
  @include media(s) {
    background-position: top -400px right -320px;
  }
}

