// $bgc: #EEFBFB;

$main-color: #3BA6C9;
$color-font: #333;
$btn-gradient: linear-gradient(to right, #FA41CC, #6020B0);
$bg-color: #EEFBFB;
// ============================================
// ベース
// ============================================

body {
  color: $color-font;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

.mv__bg {
  background-image: url(../images/bg-circle.png);
  background-repeat: no-repeat;
  background-position: top -161px right -85px;
}

.section__ttl {
  text-align: center;
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
    color: $main-color;
    margin-top: 19px;
    line-height: 1.19;
  }
  
  .mt23 {
    margin-top: 23px;
  }
}

