
body {
  color: #333;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

.contact-btn {
  width: 155px;
  height: 37px;
  background: linear-gradient(to right, #FA41CC, #6020B0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  border-radius: 10px;
}

.features-title ,.contact-title {
  text-align: center;
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
    color: #3BA6C9;
    margin-top: 19px;
    line-height: 1.19;
  }
}
.section-title {
  text-align: center;
  padding-top: 64px;
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
    color: #3BA6C9;
    margin-top: 21px;
  }
}


// ヘッダー
.header {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1000;
 
  &-inner {
    width: 1022px;
    padding: 0 21px 0 20px;
    display: flex;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 24px;
      margin-left: 16px;
    }
  }

  &-nav ul {
    margin-left: 136px;
    display: flex;
    li {
      margin-right: 49px;
      font-size: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-btn {
    margin-left: auto;
  }
}
// ヘッダー

// メインビジュアル
.mv {
  height: calc(100vh - 94px);
  margin-top: 94px;
  background-image: url(../images/bg-circle.png);
  background-repeat: no-repeat;
  background-position: top -161px right -85px;
  &-inner { 
    padding-top: 131px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  &-text {
    margin-right: 133px;
    h2 {
      font-size: 32px;
      line-height: 1.68;
      margin-top: 37px;
      margin-bottom: 38px;
      height: 140px;
      position: relative;
      top: -11px; // half-leadingの調整
    }
    p {
      margin-bottom: 39px;
      height: 97px;
      line-height: 1.68;
    }
  }
}
// メインビジュアル

// 特徴
.features {
  margin-top: 80px;
  margin-bottom: 156px;
}
.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 28px;
  }
}

.coding {
  h3 {
    margin-top: 65px;
    margin-bottom: 54px;
  }
  .feature-content {
    display: flex;

    img {
      margin-right: 157px;
    }
  }
  &-text {
    position: relative;
    top: -12px; // half-leadingの調整
    padding-right: 28.5px;
    h4 {
      height: 72px;
      font-size: 24px;
      margin: 54px 0;
      line-height: 2;
    }
    p {
      line-height: 1.625;
    }
  }
}

.high-quality {
  h3 {
    margin-top: 93px;
    margin-bottom: 64px;
  }
  .feature-content {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 43px;
    img {
      margin-left: 84px;
    }
  }
  &-text {
    position: relative;
    top: -12px; // half-leadingの調整
    h4 {
      height: 120px;
      font-size: 24px;
      margin-top: 9px;
      margin-bottom: 49px;
      line-height: 2;
    }
    p {
      line-height: 1.625;
    }
  }
}

.response {
  h3 {
    margin-top: 143px;
    margin-bottom: 67px;
  }
  .feature-content {
    display: flex;
    padding-left: 1px;
    img {
      margin-right: 173px;
    }
  }
  &-text {
    position: relative;
    top: -12px; // half-leadingの調整
    h4 {
      height: 120px;
      font-size: 24px;
      margin-top: 27px;
      margin-bottom: 42px;
      line-height: 2;
    }
    p {
      line-height: 1.625;
      margin-left: 6px;
    }
  }
}
// 特徴

// 価格
.price {
  background-color: #EEFBFB;

  table {
    margin-top: 71px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    th {
      display: inline-block;
      width: 290px;
      padding-top: 40px;
      padding-left: 19px;
      padding-bottom: 38px;
      border-right: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
    }
    td {
      width: 636px;
      padding-left: 30px;
      border-bottom: 1px solid #E5E5E5;
    }
  }

  .notice {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 41px;
  }
}
// 価格

// 質問
.faq-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  .accordion {
    width: 907px;
    margin-top: 33px;
    margin-bottom: 86px;
    box-sizing: border-box;
    dd {
      box-sizing: border-box;
      height: 58px;
      line-height: 58px;
      text-align: center;
      border: solid 1px #E5E5E5;
    }
    dt {
      box-sizing: border-box;
      font-size: 14px;
      line-height: 1.86;
      background-color: #F2F2F2;
      border: solid 1px #E5E5E5;
    }
    .q1 {
      height: 93px;
      padding-top: 21px;
      padding-left: 35px;
    }
    .q2 {
      height: 70px;
      line-height: 70px;
      padding-left: 35px;
    }
    .q3 {
      height: 96px;
      padding-top: 28px;
      padding-left: 37px;
    }
  }
}
// 質問


// ブログ
.blog {
  background-color: #EEFBFB;
}
.cord-wrapper {
  margin: 0 auto;
  max-width: 1227px;
  display: flex;
  justify-content: space-between;
}
.cord {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  max-width: 389px;
  height: 387px;
  margin-top: 55px;
  margin-bottom: 91px;
  background-color: #fff;
  p {
    padding-top: 19px;
    padding-left: 18px;
  }
  time {
    position: absolute;
    right: 38px;
    bottom: 11px;
  }
}
// ブログ

// お問い合わせ
.contact {
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  padding-top: 72px;
  padding-bottom: 70px;


  .contact-title h2, p {
    color: #fff;
  }
  .contact-message {
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;

  }
}



// お問い合わせ



// フッター
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: antiquewhite;
}


// フッター






