body {
  color: #333;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

.mv__bg {
  background-image: url(../images/bg-circle.png);
  background-repeat: no-repeat;
  background-position: top -161px right -85px;
}

@media only screen and (max-width: 1100px) {
  .mv__bg {
    background-position: top -230px right -160px;
  }
}

@media only screen and (max-width: 599px) {
  .mv__bg {
    background-position: top -400px right -320px;
  }
}

.contact-btn {
  display: inline-block;
  width: 155px;
  max-width: 100%;
  padding: 11px 35px;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(to right, #FA41CC, #6020B0);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 0.85rem;
  line-height: 1.25;
  text-align: center;
  border-radius: 10px;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.header__inner {
  max-width: 1022px;
  height: 94px;
  padding-left: 20px;
  padding-right: 21px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo h1 {
  font-size: 24px;
  margin-left: 16px;
}

@media only screen and (max-width: 1100px) {
  .header__inner {
    height: 70px;
  }
  .header-logo img {
    width: 40px;
  }
  .header-logo h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .header__inner {
    height: 50px;
  }
  .header-logo img {
    width: 30px;
  }
}

.header-nav__item {
  margin-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item li {
  margin-right: 49px;
  font-size: 16px;
}

.header-nav__item li a {
  color: #333;
}

.header-nav__item li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1100px) {
  .header-nav__item {
    display: none;
  }
}

.header-btn {
  margin-left: auto;
}

@media only screen and (max-width: 1100px) {
  .header-btn {
    display: none;
  }
}

.header .hamburger {
  display: none;
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
  background: #57a2c7;
  border-radius: 5px;
  cursor: pointer;
}

.header .hamburger span {
  display: inline-block;
  position: absolute;
  -webkit-transition: all .4s;
  transition: all .4s;
  left: 13px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 25px;
}

.header .hamburger span:nth-of-type(1) {
  top: 15px;
}

.header .hamburger span:nth-of-type(2) {
  top: 23px;
}

.header .hamburger span:nth-of-type(3) {
  top: 32px;
}

.header .hamburger__active span:nth-of-type(1) {
  top: 18px;
  left: 12px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 26px;
}

.header .hamburger__active span:nth-of-type(2) {
  opacity: 0;
}

.header .hamburger__active span:nth-of-type(3) {
  top: 30px;
  left: 12px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 26px;
}

@media only screen and (max-width: 1100px) {
  .header .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .header .hamburger {
    width: 40px;
    height: 40px;
  }
  .header .hamburger span {
    left: 8px;
    width: 23px;
  }
  .header .hamburger span:nth-of-type(1) {
    top: 10px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 19px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 28px;
  }
  .header .hamburger__active span:nth-of-type(1) {
    top: 13px;
    left: 7px;
    width: 25px;
  }
  .header .hamburger__active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .hamburger__active span:nth-of-type(3) {
    top: 25px;
    left: 7px;
    width: 25px;
  }
}

.mv {
  height: calc(100vh - 94px);
  margin-top: 94px;
  padding-top: 131px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mv__inner {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv__text {
  margin-right: 133px;
}

.mv__text h2 {
  font-size: 32px;
  line-height: 1.68;
  margin-top: 26px;
  margin-bottom: 27px;
}

.mv__text p {
  margin-bottom: 33.5px;
  line-height: 1.68;
}

@media only screen and (max-width: 1100px) {
  .mv {
    margin-top: 70px;
    padding-top: 90px;
  }
  .mv__inner {
    margin: 0 10px;
    padding-left: 0;
  }
  .mv__inner .mv__img {
    max-width: 40%;
    padding-top: 20px;
  }
  .mv__text {
    margin-right: 40px;
  }
  .mv__text h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 599px) {
  .mv {
    margin-top: 50px;
    padding-top: 60px;
  }
  .mv__inner {
    margin: 0 5px;
  }
  .mv__inner .mv__img {
    max-width: 40%;
  }
  .mv__text {
    margin-right: 40px;
  }
  .mv__text h2 {
    font-size: 20px;
  }
  .mv__text p {
    font-size: 14px;
  }
}

.features {
  padding-top: 80px;
  padding-bottom: 156px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.features__inner .section__ttl {
  text-align: center;
}

.features__inner .section__ttl h2 {
  font-size: 32px;
}

.features__inner .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.features__inner .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .features__inner .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .features__inner .section__ttl p {
    font-size: 14px;
  }
  .features__inner .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .features__inner .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .features__inner .section__ttl .mt23 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .features {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 599px) {
  .features {
    padding-bottom: 80px;
  }
}

.feature__content__ttl {
  text-align: center;
  font-size: 28px;
}

@media only screen and (max-width: 1100px) {
  .feature__content__ttl {
    font-size: 22px;
  }
}

@media only screen and (max-width: 599px) {
  .feature__content__ttl {
    font-size: 18px;
  }
}

.feature__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__content__item img {
  margin-right: 157px;
}

@media only screen and (max-width: 1100px) {
  .feature__content__item {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature__content__item img {
    margin-right: 0;
    width: 300px;
  }
  .feature__content__item .coding-text h4, .feature__content__item .high-quality-text h4, .feature__content__item .response-text h4 {
    margin: 40px 0;
  }
}

.coding h3 {
  margin-top: 65px;
  margin-bottom: 54px;
}

.coding-text {
  padding-right: 28.5px;
}

.coding-text h4 {
  font-size: 24px;
  line-height: 2;
  margin-top: 42px;
  margin-bottom: 37px;
}

.coding-text p {
  line-height: 1.625;
}

@media only screen and (max-width: 1100px) {
  .coding-text {
    padding-right: 0;
  }
  .coding-text h4 {
    font-size: 20px;
  }
}

.high-quality h3 {
  margin-top: 93px;
  margin-bottom: 64px;
}

.high-quality .feature__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 43px;
}

.high-quality .feature__content__item img {
  margin-right: 0;
  margin-left: 84px;
}

.high-quality-text h4 {
  font-size: 24px;
  line-height: 2;
  margin-top: -3px;
  margin-bottom: 32px;
}

.high-quality-text p {
  line-height: 1.625;
}

@media only screen and (max-width: 1100px) {
  .high-quality .feature__content__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .high-quality .feature__content__item img {
    margin-left: 0;
  }
  .high-quality-text h4 {
    font-size: 20px;
  }
}

.response h3 {
  margin-top: 143px;
  margin-bottom: 67px;
}

.response .feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1px;
}

.response .feature__content img {
  margin-right: 173px;
}

.response-text h4 {
  font-size: 24px;
  line-height: 2;
  margin-top: 15px;
  margin-bottom: 24px;
}

.response-text p {
  line-height: 1.625;
  margin-left: 6px;
}

@media only screen and (max-width: 1100px) {
  .response-text {
    padding-right: 0;
  }
  .response-text h4 {
    font-size: 20px;
  }
}

.price {
  background-color: #EEFBFB;
  padding-top: 64px;
  padding-bottom: 71px;
}

.price__inner {
  max-width: 926px;
  margin-right: auto;
  margin-left: auto;
}

.price__inner .section__ttl {
  text-align: center;
}

.price__inner .section__ttl h2 {
  font-size: 32px;
}

.price__inner .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.price__inner .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .price__inner .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .price__inner .section__ttl p {
    font-size: 14px;
  }
  .price__inner .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .price__inner .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .price__inner .section__ttl .mt23 {
    margin-top: 10px;
  }
}

.price__inner__notice {
  text-align: center;
  padding-top: 41px;
}

.price .horizontal-table {
  margin-top: 71px;
  padding-left: 1px;
}

.price .horizontal-table__inner {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.price .horizontal-table__header {
  width: 290px;
  display: inline-block;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 19px;
  padding-bottom: 38px;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.price .horizontal-table__text {
  width: 636px;
  padding-left: 30px;
  border-bottom: 1px solid #E5E5E5;
}

@media only screen and (max-width: 1100px) {
  .price .horizontal-table {
    margin-top: 50px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 599px) {
  .price {
    padding-top: 40px;
  }
}

.faq {
  padding-top: 64px;
  padding-bottom: 86px;
}

.faq__inner {
  margin: 0 auto;
  max-width: 907px;
}

.faq__inner .section__ttl {
  text-align: center;
}

.faq__inner .section__ttl h2 {
  font-size: 32px;
}

.faq__inner .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.faq__inner .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .faq__inner .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .faq__inner .section__ttl p {
    font-size: 14px;
  }
  .faq__inner .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .faq__inner .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .faq__inner .section__ttl .mt23 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .faq__inner {
    padding: 0 10px;
  }
}

.faq .accordion {
  margin-top: 33px;
  font-size: 14px;
  line-height: 1.86;
}

.faq .accordion__ttl {
  height: 58px;
}

.faq .accordion__btn {
  display: block;
  width: 100%;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 58px;
  background: #fff;
  border: solid 1px #E5E5E5;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.faq .accordion__body {
  display: none;
  background-color: #F2F2F2;
  border: solid 1px #E5E5E5;
}

.faq .accordion__body:nth-of-type(1) {
  padding-top: 15px;
  padding-left: 35px;
  padding-bottom: 26px;
}

.faq .accordion__body:nth-of-type(2) {
  padding-top: 21px;
  padding-left: 35px;
  padding-bottom: 22px;
}

.faq .accordion__body:nth-of-type(3) {
  padding-top: 22px;
  padding-left: 37px;
  padding-bottom: 22px;
}

.faq .accordion__body--active {
  display: block;
}

.blog {
  background-color: #EEFBFB;
  padding-top: 64px;
  padding-bottom: 91px;
}

.blog__inner {
  max-width: 1227px;
  margin: 0 auto;
}

.blog__inner .section__ttl {
  text-align: center;
}

.blog__inner .section__ttl h2 {
  font-size: 32px;
}

.blog__inner .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.blog__inner .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .blog__inner .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .blog__inner .section__ttl p {
    font-size: 14px;
  }
  .blog__inner .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .blog__inner .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .blog__inner .section__ttl .mt23 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .blog__inner {
    padding: 0 10px;
  }
}

.cords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cords .cord--col3 {
  margin-top: 55px;
}

.cords__item {
  height: 387px;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.cords__item p {
  font-size: 18px;
  line-height: 1.4444;
  padding-top: 19px;
  padding-left: 18px;
}

.cords__item time {
  position: absolute;
  right: 38px;
  bottom: 11px;
}

@media only screen and (max-width: 1100px) {
  .cords__item:nth-of-type(2) {
    margin-right: 10px;
    margin-left: 10px;
  }
  .cords__item p {
    padding-right: 5px;
  }
  .cords__item time {
    text-align: center;
    right: 0;
    left: 0;
  }
}

@media only screen and (max-width: 599px) {
  .cords__item {
    height: 300px;
  }
  .cords__item p {
    font-size: 12px;
  }
  .cords__item time {
    font-size: 12px;
  }
}

.works {
  padding-top: 64px;
  padding-bottom: 90px;
}

.works .section__ttl {
  text-align: center;
}

.works .section__ttl h2 {
  font-size: 32px;
}

.works .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.works .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .works .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .works .section__ttl p {
    font-size: 14px;
  }
  .works .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .works .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .works .section__ttl .mt23 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .works {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 599px) {
  .works {
    padding-bottom: 40px;
  }
}

.swiper-wrapper {
  margin-top: 69px;
}

.swiper-wrapper .work-card {
  max-width: 322px;
  max-height: 407px;
  background-color: #fff;
  border: solid 1px #DDD;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-wrapper .work-card .work-text {
  padding-left: 18px;
  padding-right: 10px;
}

.swiper-wrapper .work-card .work-text h3 {
  font-size: 16px;
  line-height: 1.714;
  margin-top: 18.5px;
}

.swiper-wrapper .work-card .work-text p {
  font-size: 14px;
  line-height: 1.714;
  margin-top: 23.5px;
  margin-bottom: 23.5px;
}

@media only screen and (max-width: 1100px) {
  .swiper-wrapper {
    margin-top: 40px;
  }
}

.contact {
  padding-top: 72px;
  padding-bottom: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), to(#63FBD7));
  background: linear-gradient(to right, #05A5FA, #63FBD7);
}

.contact .section__ttl {
  text-align: center;
}

.contact .section__ttl h2 {
  font-size: 32px;
}

.contact .section__ttl p {
  font-size: 16px;
  color: #3BA6C9;
  margin-top: 19px;
  line-height: 1.19;
}

.contact .section__ttl .mt23 {
  margin-top: 23px;
}

@media only screen and (max-width: 1100px) {
  .contact .section__ttl h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .contact .section__ttl p {
    font-size: 14px;
  }
  .contact .section__ttl .mt23 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .contact .section__ttl h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .contact .section__ttl .mt23 {
    margin-top: 10px;
  }
}

.contact .section__ttl h2, .contact .section__ttl p {
  color: #fff;
}

.contact__message {
  color: #fff;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 1100px) {
  .contact__message {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contact .form {
  max-width: 908px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.contact .form .pl1 {
  padding-left: 1px;
}

.contact .form span {
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #0C449B;
  border-radius: 10px;
  margin-left: 23px;
}

.contact .form input, .contact .form textarea {
  width: 499px;
  height: 43px;
  background-color: #EEFBFB;
  border-radius: 3px;
  border: none;
}

.contact .form textarea {
  width: 783px;
  height: 179px;
}

.contact .form__name {
  padding-left: 62px;
}

.contact .form__name .name-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 36px;
}

.contact .form__mail {
  padding-left: 62px;
}

.contact .form__mail .mail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 35px;
}

.contact .form__mail .mail-text span {
  padding-top: 7px;
  padding-bottom: 9px;
  margin-left: 22px;
}

.contact .form__contact {
  padding-left: 63px;
}

.contact .form__contact .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 1100px) {
  .contact .form {
    padding: 0 20px;
  }
  .contact .form input, .contact .form textarea {
    max-width: 100%;
    margin-right: 20px;
  }
  .contact .form__name, .contact .form__mail, .contact .form__contact {
    padding-left: 0;
  }
}

.contact__magu {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
}

.contact__magu__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
  padding-left: 1px;
}

.contact__magu__agree input[type="checkbox"] {
  width: 20px;
}

.contact__magu__agree .privacy {
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .contact__magu {
    padding-top: 40px 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .contact {
    padding: 40px 10px;
  }
}

.footer {
  background-color: #F8F8F8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__inner {
  text-align: center;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.footer__praivacy {
  font-size: 16px;
  margin-bottom: 59px;
}

.footer__praivacy a {
  margin-right: 30px;
  color: #333;
}

.footer__copyright {
  font-size: 14px;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */