@import "_module", "_mixin";

.contact-btn {
  @include btnSet;
}

// ヘッダー
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1000;
  
  &__inner {
    max-width: 1022px;
    height: 94px;
    padding-left: 20px;
    padding-right: 21px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 24px;
      margin-left: 16px;
    }
  }

  @include media(m) {
    &__inner {
      height: 70px;
    }
    &-logo {
      img {
        width: 40px;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
  @include media(s) {
    &__inner {
      height: 50px;
    }
    &-logo {
      img {
        width: 30px;
      }
    }
  }

  &-nav__item {
    margin-left: 136px;
    display: flex;
    li {
      margin-right: 49px;
      font-size: 16px;
      a {
        color: $color-font;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include media(m) {
      display: none;
    }
  }
  &-btn {
    margin-left: auto;
    @include media(m) {
      display: none;
    }
  }
  .hamburger {
    @include hamburgerMenu;
  }
}
// ヘッダー

// メインビジュアル
.mv {
  height: calc(100vh - 94px);
  margin-top: 94px;
  padding-top: 131px;
  box-sizing: border-box;
  &__inner { 
    padding-left: 10px;
    display: flex;
    justify-content: center;
  }
  &__text {
    margin-right: 133px;
    h2 { //22 37
      font-size: 32px;
      line-height: 1.68;
      margin-top: 37px - 11px;
      margin-bottom: 38px - 11px;
    }
    p { //11 39
      margin-bottom: 39px - 5.5px;
      line-height: 1.68;
    }
  }
  @include media(m) {
    margin-top: 70px;
    padding-top: 90px;
    &__inner {
      margin: 0 10px;
      padding-left: 0;
      .mv__img {
        max-width: 40%;
        padding-top: 20px;
        
      }
    }
    &__text {
      margin-right: 40px;
      h2 {
        font-size: 26px;
      }
    }
  }
  @include media(s) {
    margin-top: 50px;
    padding-top: 60px;
    &__inner {
      margin: 0 5px;
      .mv__img {
        max-width: 40%;
      }
    }

    &__text {
      margin-right: 40px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

  }
}
// メインビジュアル

// 特徴
.features {
  padding-top: 80px;
  padding-bottom: 156px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    @include section-ttl;
  }
  @include media(m) {
    padding-bottom: 150px;
  }
  @include media(s) {
    padding-bottom: 80px;
  }
}

.feature__content {
  &__ttl {
    text-align: center;
    font-size: 28px;
    @include media(m) {
      font-size: 22px;
    }
    @include media(s) {
      font-size: 18px;
    }
  }
  &__item {
    display: flex;
    img {
      margin-right: 157px;
    }
    @include media(m) {
      text-align: center;
      flex-direction: column;
      align-items: center;
      img {
        margin-right: 0;
        width: 300px;
      }
      .coding-text h4, .high-quality-text h4, .response-text h4 {
        margin: 40px 0;
      }
    }
  }
}

.coding {
  h3 {
    margin-top: 65px;
    margin-bottom: 54px;
  }
  &-text {
    padding-right: 28.5px;
    h4 {
      font-size: 24px;
      line-height: 2;
      margin-top: 54px - 12px;
      margin-bottom: 54px - 12px -5px;
    }
    p {
      line-height: 1.625;
    }
  }
  @include media(m) {
    &-text {
      padding-right: 0;
      h4 {
        font-size: 20px;
      }
    }
  }
}

.high-quality {
  h3 {
    margin-top: 93px;
    margin-bottom: 64px;
  }
  .feature__content__item {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 43px;
    img {
      margin-right: 0;
      margin-left: 84px;
    }
  }
  &-text { //9 
    h4 {
      font-size: 24px;
      line-height: 2;
      margin-top: 9px - 12px;
      margin-bottom: 49px - 12px - 5px;
    }
    p {
      line-height: 1.625;
    }
  }
  @include media(m) {
    .feature__content__item {
      flex-direction: column;
      padding-left: 0;
      img {
        margin-left: 0;
      }
    }
    &-text {
      h4 {
        font-size: 20px;
      }
    }
  }
}

.response {
  h3 {
    margin-top: 143px;
    margin-bottom: 67px;
  }
  .feature__content {
    display: flex;
    padding-left: 1px;
    img {
      margin-right: 173px;
    }
  }
  &-text {
    h4 { //27
      font-size: 24px;
      line-height: 2;
      margin-top: 27px - 12px;
      margin-bottom: 42px - 12px - 6px;
    }
    p {
      line-height: 1.625;
      margin-left: 6px;
    }
  }
  @include media(m) {
    &-text {
      padding-right: 0;
      h4 {
        font-size: 20px;
      }
    }
  }
}
// 特徴

// 価格
.price {
  background-color: $bg-color;
  padding-top: 64px;
  padding-bottom: 71px;
  &__inner {
    max-width: 926px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
    &__notice {
      text-align: center;
      padding-top: 41px;
    }
  }

  .horizontal-table {
    margin-top: 71px;
    padding-left: 1px;
    &__inner {
      width: 100%;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    &__header {
      width: 290px;
      display: inline-block;
      font-weight: bold;
      padding-top: 40px;
      padding-left: 19px;
      padding-bottom: 38px;
      border-right: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
    }
    &__text {
      width: 636px;
      padding-left: 30px;
      border-bottom: 1px solid #E5E5E5;
    }  
  }
  @include media(m) {
    .horizontal-table {   
      margin-top: 50px;
      padding: 0 10px;      
    }
  }
  @include media(s) {
    padding-top: 40px;
  }
}
// 価格

// 質問
.faq {
  padding-top: 64px;
  padding-bottom: 86px;
  &__inner {
    margin: 0 auto;
    max-width: 907px;
    @include section-ttl;
    @include media(m) {
      padding: 0 10px;

    }
  }
  .accordion {
    margin-top: 33px;
    font-size: 14px;
    line-height: 1.86;
    &__ttl {
      height: 58px;
    }
    &__btn {
      display: block;
      width: 100%;
      color: #333;
      font-size: 14px;
      font-weight: bold;
      line-height: 58px;
      background: #fff;
      border: solid 1px #E5E5E5;
      cursor: pointer;
      transition: .25s;
    }
    &__body {
      display: none;
      background-color: #F2F2F2;
      border: solid 1px #E5E5E5;
      &:nth-of-type(1) {
        padding-top: 21px - 6px;
        padding-left: 35px;
        padding-bottom: 32px - 6px;
      }
      &:nth-of-type(2) {
        padding-top: 27px - 6px;
        padding-left: 35px;
        padding-bottom: 28px - 6px;
      }
      &:nth-of-type(3) {
        padding-top: 28px - 6px;
        padding-left: 37px;
        padding-bottom: 28px - 6px;
      }

      &--active {
        display: block;
      }
    }
  }
}
// 質問

// ブログ
.blog {
  background-color: $bg-color;
  padding-top: 64px;
  padding-bottom: 91px;
  &__inner {
    max-width: 1227px;
    margin: 0 auto;
    @include section-ttl;
    @include media(m) {
      padding: 0 10px;
    }
  }
}
.cords {
  display: flex;
  justify-content: space-between;
  .cord--col3 {
    margin-top: 55px;
  }
  &__item {
    height: 387px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;

    p {
      font-size: 18px;
      line-height: 1.4444;
      padding-top: 19px;
      padding-left: 18px;
    }
    time {
      position: absolute;
      right: 38px;
      bottom: 11px;
    }
    @include media(m) {
      &:nth-of-type(2) {
        margin-right: 10px;
        margin-left: 10px;
      }
      p {
        padding-top: 5px;
        padding-right: 5px;
      }
      time {
        text-align: center;
        right: 0;
        left: 0;
      }
    }
    @include media(s) {
      height: 300px;
      p {
        font-size: 12px;
      }
      time {
        font-size: 12px;
      }
    }
  }
}
// ブログ

// 実績
.works {
  padding-top: 64px;
  padding-bottom: 90px;
  @include section-ttl;
  @include media(m) {
    padding-top: 40px;
  }
  @include media(s) {
    padding-bottom: 40px;
  }
}

.swiper-wrapper {
  margin-top: 69px;
  .work-card {
    max-width: 322px;
    max-height: 407px;
    background-color: #fff;
    border: solid 1px #DDD;
    border-radius: 8px;
    box-sizing: border-box;
    .work-text {
      padding-left: 18px;
      padding-right: 10px;
      h3 {  //11 
        font-size: 16px;
        line-height: 1.714;
        margin-top: 24px - 5.5px;
      }
      p {  //10
        font-size: 14px;
        line-height: 1.714;
        margin-top: 34px - 5.5px - 5px;
        margin-bottom: 34px - 5.5px - 5px;
      }
    }
  }
  @include media(m) {
    margin-top: 40px;
  }
}
// 実績

// お問い合わせ
.contact {
  padding-top: 72px;
  padding-bottom: 70px;
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  @include section-ttl;
  .section__ttl {
    h2, p {
      color: #fff;
    }
  }
  &__message {
    color: #fff;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    margin-top: 42px - 8px;
    margin-bottom: 44px - 8px;
    @include media(m) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  .form {
    max-width: 908px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    .pl1 {
      padding-left: 1px;
    }
    span {
      color: #fff;
      font-size: 14px;
      padding: 8px 16px;
      background-color: #0C449B;
      border-radius: 10px;
      margin-left: 23px;
    }
    input, textarea {
      width: 499px;
      height: 43px;
      background-color: $bg-color;
      border-radius: 3px;
      border: none;
    }
    textarea {
      width: 783px;
      height: 179px;
      resize: none;
    }
    &__name {
      padding-left: 62px;
      .name-text {
        display: flex;
        align-items: center;
        padding-top: 31px;
        padding-bottom: 36px;
      }
    }
    &__mail {
      padding-left: 62px;
      .mail-text {
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 35px;
        span { //調整
          padding-top: 7px;
          padding-bottom: 9px;
          margin-left: 22px;
        }
      }
    }
    &__contact {
      padding-left: 63px;
      .contact-text {
        display: flex;
        align-items: center;
        padding-top: 19px;
        padding-bottom: 35px;
      }
    }
    @include media(m) {
      padding: 0 20px;
      input, textarea {
        max-width: 100%;
        margin-right: 20px;
      }
      &__name, &__mail, &__contact {
        padding-left: 0;
      }
    }
  }
  &__magu {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    &__agree {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 31px;
      padding-left: 1px;
      input[type="checkbox"] {
        width: 20px;
      }
      .privacy {
        margin-left: 10px;
      }
    }
    input[type="submit"] {
      width: 155px;
      border-radius: 10px;
      cursor: pointer;
    }
    @include media(m) {
      padding-top: 40px 10px;
    }
  }
  @include media(m) {
    padding: 40px 10px;
  }
  .end-message, .false-message {
    display: none;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px; 
    @include media(m) {
      font-size: 16px;
    }
  }
}
// お問い合わせ
    
// フッター
.footer {
  background-color: #F8F8F8;
  padding-top: 50px;      
  padding-bottom: 50px;
  &__inner {
    text-align: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__praivacy {
    font-size: 16px;
    margin-bottom: 59px;
    a {
      margin-right: 30px;
      color: $color-font;
    }
  }
  &__copyright {
    font-size: 14px;
    font-weight: normal;
  }
}
// フッター

